.section-history
	+below(1440px)
		height 100vh!important
		.fp-tableCell
			height 100vh!important
	bgi('bg-2.jpg')
	bg-full()
	background-attachment fixed
.section-filter-wraper
	position relative
	width 100%
	height 100%
	.main-cont
		height 100%

