mixin section-history()
	//block section-history
	.section.section-history
		.section-filter
		.section-filter-wraper
			.main-cont
				.section-history-wrap
					.section-filter__title.wow.fadeIn(data-wow-duration="2s" data-wow-delay="1s") О нас
					.section-filter__text.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="2s") 
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam assumenda, libero dolorum cumque et aut doloribus esse vero, dignissimos laudantium facilis nemo dolores qui dolore ratione fugit quo reprehenderit obcaecati in sapiente repellat voluptatum deleniti sint. Officia hic, quo cupiditate necessitatibus ipsum accusamus ipsa, repellat magnam iusto facere id commodi.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam assumenda, libero dolorum cumque et aut doloribus esse vero, dignissimos laudantium facilis nemo dolores qui dolore ratione fugit quo reprehenderit obcaecati in sapiente repellat voluptatum deleniti sint. Officia hic, quo cupiditate necessitatibus ipsum accusamus ipsa, repellat magnam iusto facere id commodi.essitatibus ipsum accusamus ipsa, repellat magnam iusto facere id commodi.

	//block section-history end