mixin section-postavshick()
	//block section-postavshick
	.section.section-deliver
		.section-filter
		.section-filter-wraper
			.main-cont
				.section-deliver-wrap
					.section-filter__title.wow.fadeIn(data-wow-duration="2s" data-wow-delay="0.5s") Поставщику
					.section-filter__text.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="2s") 
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam assumenda, libero dolorum cumque et aut doloribus esse vero, dignissimos laudantium facilis nemo dolores 
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam assumenda, libero dolorum cumque et aut doloribus esse vero, dignissimos laudantium facilis nemo dolores qui dolore ratione fugit quo reprehenderit obcaecati in sapiente repellat voluptatum deleniti sint. Officia hic, quo cupiditate necessitatibus ipsum accusamus ipsa, repellat magnam iusto facere id commodi.essitatibus ipsum accusamus ipsa, repellat magnam iusto facere id commodi.
				.deliver-row-wrap
					.deliver-row
						.deliver-el.wow.fadeIn(data-wow-duration="2s" data-wow-delay="2.5s")
							a(href="#") Список ключевых поставок
						.deliver-el.wow.fadeIn(data-wow-duration="2s" data-wow-delay="3s")
							a(href="#") Участие в тендере
						.deliver-el.wow.fadeIn(data-wow-duration="2s" data-wow-delay="3.5s")
							a(href="#") Заполни анкету поставщика
	//block section-postavshick end