mixin section-arenda()
	//block section-arenda
	.section.section-arenda
		.main-cont 
			.section-arenda-wrap
				.section-arenda__head
					.section-arenda__titile Аренда
					.section-arenda__head-text Была гордая и неприступная как будто. Королеве подвески, она не ни одного ласкового слова кроме. Шаг, прошли танки любила природу. Холодные свитера перевозили революционеры свои листовки.в чемоданах. Не только вершит дела на кота и четырёх пар ног королеве подвески. Послал русскому царю телеграмму блаженно улыбался. Не осталось ни одного ласкового слова, кроме слова дура прошли танки. Длинные зимние холодные свитера прошли танки красота! первый акт софьи и огрел.
				.section-arenda__cont
					- for (var i = 0; i < 3; i++)
						.section-arenda__col
							.section-arenda__col-title Название раздела
							.section-arenda__col-text Была гордая и неприступная как будто. Королеве подвески, она не ни одного ласкового слова кроме. Шаг, прошли танки любила природу. Холодные свитера перевозили революционеры свои листовки.в чемоданах. Не только вершит дела на кота и четырёх пар ног королеве подвески. Послал русскому царю телеграмму блаженно улыбался. Не осталось ни одного ласкового слова, кроме слова дура прошли танки. Длинные зимние холодные свитера прошли танки красота! первый акт софьи и огрел.
	//block section-arenda end