.section-arenda
	bg-full()
	bgi('bg-3.jpg')
	.main-cont
		min-height 100vh
		height 100%
.section-arenda-wrap
	center(1200px,0)
	padding-top 170px
//.section-arenda-wrap
.section-arenda__head
	flex(between)
	align-items flex-start
	margin-bottom 5vh
	+below(1440px)
		margin-bottom 5vh
.section-arenda__titile 
	color #023c76
	font-family Roboto
	font-size 50px
	font-weight bold
	text-transform uppercase
.section-arenda__head-text
	+below(1440px)
		font-size 14px
		line-height 20px
	width 70%
	color #000000
	font-family Roboto
	font-size 16px
	line-height 32px
.section-arenda__cont
	flex(between)
	//height 100%
.section-arenda__col
	width 30%
.section-arenda__col-title 
	width 100%
	padding 20px
	color #023c76
	font-family Roboto
	font-size 14px
	font-weight bold
	text-transform uppercase
	border 1px solid #023c76
	text-align center
	margin-bottom 10% 
.section-arenda__col-text
	+below(1440px)
		font-size 14px