mixin menu()
	//block menu
	.menu-right
		.menu-toggle
			+icon("menu","icon")
		.menu-cont
			.menu-mobile-cont
				+icon("cancel","icon")
				a(href="#").menu-mobile-town Набережные Челны
				.menu-mobile-phone 8 800 555 3 555

			.menu-cont__el
				.menu-cont__title Котанкты
				.menu-cont__info 8 800 900 00 11
				.menu-cont__info info@mail.ru
			.menu-cont__el
				.menu-cont__title Отдел закупки
				.menu-cont__info 8 800 900 00 11
				.menu-cont__info info@mail.ru
			.menu-cont__el
				.menu-cont__title Еще отдел
				.menu-cont__info 8 800 900 00 11
				.menu-cont__info info@mail.ru


	//block menu end