include block_html/_style.jade
include ../module/**/*.jade


.global-filter
+header()
.global
	+menu()
	+section-arenda()
	+section-arenda()
	//+section-arenda()
	//+section-kriter()
	//+section-tech()
include ./block_html/_script.jade

