include block_html/_style.jade
include ../module/**/*.jade
.global-filter
+header()
.global
	+menu()
	+section-postavshick()
	+section-princip()
	+section-table()
	+section-anketa()
include ./block_html/_script.jade

