.fp-tableCell
	+below(768px)
		height auto !important
.section
	+below(768px)
		height auto !important
		min-height 50vh
	width 100%
	height 100vh
	background grey
	position relative
.section-filter
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background black
	opacity .4 
/*.global
	min-width 1280px*/
.global-filter
	width 100%
	height 100vh
	background rgba(10, 10, 10, 0.58)
	position fixed
	top 0
	left 0
	z-index 160
	display none
.global-filter-open
	display block

.menu-cont__el
	+below(1200px)
		margin-bottom 10px
	margin-bottom 10%
.menu-cont__title
	+below(1200px)
		font-size 14px
		text-align center
		padding 0px
		margin-bottom 10px
		background white
		color black
		font-weight bold  
	color #ffffff
	font-family Roboto
	font-size 1.5vw
	line-height 28px
	background orange 
	padding 10px 20px
	margin-bottom 20px
.menu-cont__info
	+below(1200px)
		text-align center
	padding-left 10px

	