mixin section-tech()
	//block section-tech
	.section.section-tech
		.section-tech-head
			.section-tech-head-cont
				p Уже скоро мы откроем первые пиццерии в Великобритании и Белоруссии. «Додо Пицца» была основана в 2011 году. Уже несколько лет сеть стремительно развивается, при этом ни одна из наших пиццерий не закрылась.

				p Наша бизнес миссия — лучшая пицца и лучший сервис. А один из основных факторов успеха — правильно подобранное помещение. Поэтому будем рады рассмотреть предложения по долгосрочной аренде и продаже коммерческой недвижимости.
		.main-cont 
			.section-tech-wrap
					.section-tech__titile Технические требования к помещению
					.section-tech-list
						.section-tech-list-el
							.section-tech-list-ico
								img(src="img/icon-5.png", alt="")
							.section-tech-list-text Уже скоро мы откроем первые пиццерии в Великобритании и Белоруссии. «Додо Пицца» была основана в 2011 году. Уже несколько лет сеть стремительно развивается, при этом ни одна из наших пиццерий не закрылась.
						.section-tech-list-el
							.section-tech-list-ico
								img(src="img/icon-6.png", alt="")
							.section-tech-list-text Уже скоро мы откроем первые пиццерии в Великобритании и Белоруссии. «Додо Пицца» была основана в 2011 году. Уже несколько лет сеть стремительно развивается, при этом ни одна из наших пиццерий не закрылась.
						.section-tech-list-el
							.section-tech-list-ico
								img(src="img/icon-7.png", alt="")
							.section-tech-list-text Уже скоро мы откроем первые пиццерии в Великобритании и Белоруссии. «Додо Пицца» была основана в 2011 году. Уже несколько лет сеть стремительно развивается, при этом ни одна из наших пиццерий не закрылась.
						.section-tech-list-el
							.section-tech-list-ico
								img(src="img/icon-8.png", alt="")
							.section-tech-list-text Уже скоро мы откроем первые пиццерии в Великобритании и Белоруссии. «Додо Пицца» была основана в 2011 году. Уже несколько лет сеть стремительно развивается, при этом ни одна из наших пиццерий не закрылась.
						.section-tech-list-el
							.section-tech-list-ico
								img(src="img/icon-9.png", alt="")
							.section-tech-list-text Уже скоро мы откроем первые пиццерии в Великобритании и Белоруссии. «Додо Пицца» была основана в 2011 году. Уже несколько лет сеть стремительно развивается, при этом ни одна из наших пиццерий не закрылась.
					a(href="#").section-tech-get предложить помещение
					
	//block section-tech end