mixin footer()
	//block footer
	.footer
		.main-cont
			.footer-wrap
				.footer-text 2017 Сеть кафе «Рокнроллы»
				.footer-menu
					a(href="#").footer-menu-el Контакты
					a(href="#").footer-menu-el Вакансии
					a(href="#").footer-menu-el Помощь
					a(href="#").footer-menu-el Карта сайта
				.footer-soc
					a(href="#").footer-soc-el
						+icon("soc-instagram","icon")
					a(href="#").footer-soc-el
						+icon("soc-vk","icon")
	//block footer end