.section-kriter
	+below(1200px)
		padding 100px 0
	+below(768px)
		padding 40px 0
	background white 
	.main-cont
		center(1400px,10px)
		height 100%
.section-kriter-wrap
	flex(mid)
	fl()
	height 100%
.section-kriter__titile
	+below(1200px)
		font-size 28px
	+below(768px)
		font-size 22px
		text-align center
		margin-bottom 20px
	color #023c76
	font-family Roboto
	font-size 40px
	font-weight bold
	text-transform uppercase
	margin-bottom 8vh
.kriter-cont
	+below(1200px)
		fw()
	flex(between)
	align-items flex-start
.kriter-cont-el
	+below(1200px)
		width 45%
		margin-bottom 20px
	+below(768px)
		width 100%
		padding 0 10px
	width 20%
	flex(mid)
	fl()
.kriter-cont-icon
	margin-bottom 20px
.kriter-cont-text
	+below(1200px)
		text-align center
	
	