mixin section-kriter()
	//block section-kriter
	.section.section-kriter
		.main-cont 
			.section-kriter-wrap
					.section-kriter__titile Критерии выбора земельного участка
					.kriter-cont
						.kriter-cont-el
							.kriter-cont-icon
								img(src="img/icon-1.png", alt="")
							.kriter-cont-text Высокий автомобильный трафик вблизи объекта. Дополнительный пешеходный трафик является преимуществом.
						.kriter-cont-el
							.kriter-cont-icon
								img(src="img/icon-2.png", alt="")
							.kriter-cont-text Непосредственный прямой доступ с главной дороги. Наличие въезда/выезда на земельный участок.
						.kriter-cont-el
							.kriter-cont-icon
								img(src="img/icon-3.png", alt="")
							.kriter-cont-text Отличная видимость объекта с центральных дорог. Хороший вид из самого здания.
						.kriter-cont-el
							.kriter-cont-icon
								img(src="img/icon-4.png", alt="")
							.kriter-cont-text Большая, удобная парковка справляющаяся с нагрузками в час пик.   
	//block section-kriter end