.section-princip
	bgi('bg-5.jpg')
	bg-full()
	//.section
.section-princip-wrap
	+below(768px)
		padding-top 100px
	position relative
	padding-top 140px
	height 100%
	f()
	fl()
	min-height 100vh
	.main-cont
		center(1200px,10px)
.section-princip-header
	flex-grow 1
	.main-cont
		height 100%
.section-princip__titile
	+below(1440px)
		font-size 32px
		margin-bottom 2vh
	color #ffffff
	font-family Roboto
	font-size 50px
	font-weight bold
	text-transform uppercase
	margin-bottom 4vh
.section-princip-content
	+below(768px)
		fw()
	flex(between)
	height 100%
.section-princip-col
	+below(768px)
		width 100%
		margin-bottom 20px
	width 30%
	height 100%
.section-princip-col-title
	color white
	font-size 16px
	font-weight bold
	text-transform uppercase
	margin-bottom 2vh
.section-princip-col-text
	+below(1440px)
		font-size 13px
		line-height 15px
	color #ffffff
	font-family Roboto
	font-size 15px
	line-height 28px
.section-princip-footer
	position relative
	.main-cont
		center(1200px,10px)
.tabs
	+below(768px)
		fw()
		position initial
		top initial
		left initial
		margin-top 20px
	flex(between)
	align-items flex-end
	position absolute
	width 100%
	top -200px
	left 0px
	min-height 200px
.section-princip-tab
	+below(768px)
		width 100%
		margin-bottom 20px
		
	width 30%
.section-princip-tab-title
	+below(1440px)
		font-size 12px
	+below(768px)
		border-radius 8px
		padding 10px
	border-radius 8px 8px 0 0
	background-color #ffffff
	text-align center
	color #ff5c00
	font-family Roboto
	font-size 16px
	font-weight bold
	text-transform uppercase
	padding 18px 0
	cp()
.section-princip-tab-list
	background-color rgba(0, 0, 0, 0.54);
	padding 20px
.section-princip-tab-list_el
	a
		+below(1440px)
			font-size 12px
		font-family Roboto
		font-size 14px
		font-weight bold
		text-transform uppercase
		display block
		color white
		margin-bottom 10px
.slider
	+below(1440px)
		height 220px
	+below(1200px)
		height 160px
		padding 10px 0
	+below(768px)
		height auto 
		padding 20px 0
	height 275px 
	background white
	position relative
	box-shadow 6px 2px 10px #594e4e
	padding 20px 0
.slider-title
	+below(1440px)
		font-size 14px
		text-align center
		up()
	+below(768px)
		margin-bottom 20px
		font-size 11px
	color #000000
	font-family Roboto
	font-size 30px
	margin-bottom 10px
.tab-hide
	display none
.el-slider-img
	+below(1440px)
			width 90px
			height 60px
	+below(1200px)
			width 70px
			height 40px
	width 140px
	height 120px
	bg-full()
	background-size contain
.el-slider
	flex(mid)
	fl()
	fw()
.el-slider-title
	color #e85210
	font-size 16px
	text-transform uppercase
.el-slider-weght
	+below(1440px)
		font-size 16px
	font-family Roboto
	font-size 22px
	