.section-about
	bg-full()
	bgi('bg-1.jpg')
	+below(1440px)
		height 100vh!important
		.fp-tableCell
			height 100vh!important
.section-filter-wraper
	position relative
	width 100%
	height 100%
	.main-cont
		height 100%
.section-filter__title
	+below(1400px)
		top 0
		margin-top 80px
	+below(768px)
		position initial
		top initial
		left initia
		font-size 28px
	color #ffffff
	font-family Roboto
	font-size 80px
	font-weight bold
	text-transform uppercase
	position absolute
	top 35%
	left 10%
.section-filter__text
	+below(1400px)
		top 0
		width 40%
		margin-top 80px
	+below(768px)
		position initial
		top initial
		left initia
		width 100%
		font-size 12px
		line-height initial
		margin-top 0
	font-family Roboto
	font-size 16px
	line-height 32px
	color white
	width 35%
	position absolute
	top 30%
	right 10%