//.section 
.section-table 
	+below(1440px)
		height auto
	bgi('bg-1.jpg') 
	bg-full()
	background-attachment fixed
//.section-filter 
.section-table-wrap 
	+below(768px)
		padding-top 40px
	padding-top 120px
//.section-table-header 
//.section-table-header-cont 
//.section-princip__titile 
.tender 
	+below(768px)
		padding 10px
	padding 20px
	background orange 
	br(10px)
.tender-head 
	+below(768px)
		fw()
		
	f()
.tender-head-el 
	+below(1024px)
		width 48%
	+below(768px)
		width 100%
		margin-bottom 0px
		margin-right 0
	width 25%
	margin-right 20px
	input 
		border 0px
		width 100%
.tender-head-title 
	+below(1024px)
		font-size 14px
	up()
	color white
	font-weight bold 
.table-head
	+below(768px)
		margin-right 0
		display none!important
	flex(between)
	br(10px)
	align-items initial
	background white 
	margin-bottom 10px
	margin-right 30px
.tender-table
	+below(768px)
		width 100%
.table-head-el
	+below(1440px)
		font-size 14px
		padding 10px
	+below(1024px)
		font-size 10px
	up()
	width 24.5%
	padding 20px
	font-weight bold
	border-right 2px solid  orange
	flex(mid)
	text-align center
.table-body-el-name
	+above(768px)
		display none
	+below(768px)
		up()
		flex(mid)
		min-height 30px
		text-align center
		color white
		position relative
		margin-bottom 10px
		&:hover
			cp()
		.icon
			tr(all)
			size 20px
			fill white
			margin-left 10px
.table-body
	+below(768px)
		height auto
	height 270px
.table-body-row	
	+below(768px)
		fl()
		br(0)
		background none
		padding 10px
		margin-bottom 20px
		border 1px solid rgba(255, 255, 255, 0.26)
		justify-content initial
		height 110px
		overflow hidden 
	flex(between)
	br(10px)
	background white
	margin-bottom 10px
	align-items initial
	input
		width 100%
		margin-bottom 0
		border 0px
		height 100%
		br(0)
		&:focus
			box-shadow 0 0 10px  grey
			z-index 20
.table-body-row--full
	height auto!important	
	background #a85008
	.icon
		transform rotate(180deg)
.table-body-el
	+below(1024px)
		font-size 11px
	+below(768px)
		width 100%
		background white
		br(5px) 
		height 40px
		overflow hidden 
		font-size 14px
		margin-bottom 10px
	&:nth-child(1)
		border-right 2px solid  orange
		padding 10px
	&:nth-child(2)
		+below(768px)
			padding 20px
		padding 10px
	color orange
	width 24.5%
	text-align center
	font-weight bold
	up() 
	flex(mid)
.mCSB_container
	margin-right 0
.mCSB_scrollTools .mCSB_draggerContainer
	//right -20px
.mCSB_scrollTools
	width 40px

.table-footer
	flex(mid)
.table-footer
	padding 5px 0
.table-footer-get
	@extend .btn
	background white
	color black
	padding 10px  30px 
.table-more
	flex(mid)
	margin-bottom 30px
.table-more-get
	+below(768px)
		font-size 12px
		text-align center
	@extend .btn
	color white
	margin-top 30px
.section-table__titile
	+below(768px)
		text-align center
		width 100%
		display block
		font-size 14px
		padding 10px
	border-radius 10px
	background white
	color orange
	display inline-block
	padding 10px 50px
	margin-bottom 20px
	font-size 18px
	up()
	font-weight bold 
	 